@charset "UTF-8";
body {
  font-family: "微软雅黑"; }

.title {
  margin: 30px auto;
  text-align: center;
  font-size: 2.0rem;
  font-weight: bold; }

.content {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 70px; }

.content .item {
  margin-top: 12px; }

.content .item .t {
  display: inline-block;
  width: 180px;
  text-align: right;
  padding-right: 25px; }

.content .item .txt {
  display: inline-block;
  width: 300px;
  height: 30px;
  border: 1px solid #b9b7b7;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px; }

.content .item .sel {
  width: 310px; }

.content button {
  margin: 30px auto;
  width: 90px;
  height: 40px;
  font-size: 1.2rem;
  display: block; }
