@charset "UTF-8";
body {
  margin: 0;
  font-size: 1.3rem;
  font-family: "微软雅黑"; }

.bg {
  margin: 0;
  position: absolute;
  background-image: url("../img/bg.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover; }

.logpanel {
  position: absolute;
  width: 450px;
  height: 320px;
  background-color: #808a34;
  left: 50%;
  top: 50%;
  margin-left: -225px;
  margin-top: -200px;
  text-align: center;
  border-radius: 10px; }

.logpanel .title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #efeacc;
  font-size: 1.5rem; }

.logpanel .item {
  margin: 15px auto;
  text-align: center;
  color: #efeacc; }

.item span {
  width: 100px;
  margin-right: 15px; }

.item input {
  width: 230px;
  height: 30px;
  border: 1px solid #eee09f;
  font-size: 1.2rem;
  padding-left: 10px; }

.logpanel button {
  margin: 20px auto;
  width: 70px;
  height: 40px;
  outline-width: 0;
  font-size: 16px;
  color: #808a34; }
