@charset "UTF-8";
.share body {
  margin: 0; }

.share .contina {
  background-color: #fff;
  font-family: '微软雅黑';
  padding: 0 10px; }
  .share .contina .title {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    color: #2886b0;
    font-weight: bolder; }
  .share .contina .sub-title {
    text-align: center;
    color: #646666;
    font-size: 30px;
    margin-top: 20px; }
  .share .contina .content {
    color: #4d4c4c;
    font-size: 24px;
    margin-top: 30px;
    line-height: 40px; }
  .share .contina .pic {
    text-align: center;
    margin-top: 30px; }
    .share .contina .pic img {
      max-width: 450px; }
  .share .contina .point {
    margin-top: 40px;
    color: #2886b0;
    font-size: 22px;
    font-weight: bold; }
    .share .contina .point .line {
      margin: 0 auto;
      overflow: hidden;
      width: 300px;
      text-align: center; }
      .share .contina .point .line .left {
        float: left; }
      .share .contina .point .line .right {
        line-height: 20px;
        height: 20px;
        float: right; }
      .share .contina .point .line .pot {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #2886b0;
        margin-right: 10px;
        margin-bottom: 3px; }
  .share .contina .btn {
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;
    text-align: center; }
    .share .contina .btn .down {
      cursor: pointer;
      width: 300px;
      height: 76px;
      background-size: 100%;
      border: 0;
      outline: hidden;
      background-image: url("../img/down-btn.png"); }

.share .ft-line {
  padding: 0;
  width: 100%;
  background-color: #7cb4ce;
  height: 20px;
  margin-top: 50px;
  margin-bottom: 20px; }

.share .ft {
  padding: 0;
  width: 100%;
  background-color: #4b95b6;
  height: 80px;
  color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 25px; }
